#For Keil
obj/
lst/

#For OSX
.DS_Store

#Files
*.log
*.dep
*.bak
*.uvgui.*
*.uvopt
*.old
*.bin
*.obj
*.orig
*.ok
*~
*.o
*.i
*.lst
*.map
*.d
*.crf
*.axf
*.out
*.pbi
*.cout
*.browse
*.scc
*.tra
*.txt

#Large stuff
*.zip
*.gz
*.bz
*.gzip
*.7z
*.rar
!ThirdParty/FATFS/doc/img/mkfatimg.zip
!SampleCode/CRYPTO_SHA_MTP/image.bin
!Loaders/u-boot/eMMC/u-boot.bin
!Loaders/u-boot/NAND/u-boot.bin
!Loaders/u-boot/NAND/u-boot-spl.bin
!Loaders/u-boot/SPI/u-boot.bin

